* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    overflow-y: hidden;
}
body{
    height: 100vh;
}
.container{
    width: 100%;
    height: auto;
    margin-top: 80px;
    user-select: none;
    color: var(---fontColor);
}
:root{
    --borderRadius:60px;
    --backgroundColor: #008080;
    --bgColoHover:#4682b4;
    ---fontColor:#fff;
}
#score{
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}
.start-btn{
    border: 0;
    color: var(---fontColor);
    cursor: pointer;
}
.start-btn:hover{
    background-color: var(--bgColoHover);
}
.time-table,.question-count,.sum-result,.start-btn{
    width: 100px;
    height: 80px;
    border-radius: 100px;
    background-color:var(--backgroundColor);
    line-height: 80px;
}
.true{
    background-color: rgb(30, 30, 197);
}
.false{
    background-color: rgb(252, 39, 39);
}
#content{
    width: 75%;
    height: auto;
    margin: 0 auto;
}
.box-text{
    width: auto;
}
.question{
    border-radius:var(--borderRadius);
    padding: 40px;
    background-color:var(--backgroundColor);
    border-style: solid;
}
.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}
.answer{ 
    background-color:var(--backgroundColor);
    border-radius:var(--borderRadius);
    width: 565px;
    height: 80px;
    margin-top: 12px;
    border-style: solid;
    line-height: 72px;  
}
.answer:hover{
    cursor: pointer;
    background-color: var(--bgColoHover);
}